:root {
    --bg-image-url: url('/assets/background-pattern-dark.jpg')
}

html, body {
    min-height: 100vh;
}

body {
    margin: 0;
    position: relative;

    background: #eee var(--bg-image-url) no-repeat;
    background-size: cover;
    background-position: top right;

    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
}

.background-accredit {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1rem;
}
