<!DOCTYPE html>
<html lang="de">
{{- partial "head.html" . -}}

<body class="pt-4">
    <div class="container mb-4 shadow rounded">
        <div class="row py-4 px-2 align-items-center">
            <div class="col">
                <hr /><hr /><hr /><hr />
            </div>
            <img class="col col-auto" src="/assets/Th11s.svg" style="height: 150px; background-color: transparent;" alt="Th11s Logo" title="ThomasOttenhus => Th_(11 letters)_s => Th11s => Th||s" />
            <div class="col">
                <hr /><hr /><hr /><hr />
            </div>
        </div>
    </div>
    {{- partial "header.html" . -}}
    <div id="content">
        <div class="container my-4 shadow rounded">
        {{- block "main" . }}{{- end }}
        </div>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "background-accredit.html" . -}}
</body>
</html>