

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/">
            Th||s
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{- $products := where .Site.RegularPages "Section" "products" -}}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ if $products }}
                <li class="nav-item">
                    <button class="nav-link dropdown-toggle"
                            popovertarget="products-popover"
                            popovertargetaction="toggle">
                        {{ if eq .Site.Language.Lang "en" }}Products{{ else }}Produkte{{ end }}
                    </button>
                    <ul id="products-popover" popover>
                        {{ range $products }}
                        <li><a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </li>
                {{ end }}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{ range .Translations }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .RelPermalink }}">{{ .Language.Label }}</a>
                </li>
                {{ end }}
                <li class="nav-item">
                    <a class="nav-link" href="/legal/">Impressum / Datenschutz</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
