<div class="row row-cols-1 row-cols-lg-2 g-4 my-2">
    {{ range where site.RegularPages "Section" "products" }}
    <div class="col">
        <div class="product-card">
            <div class="product-card-header">
                {{ with .Params.icon }}<span class="product-icon">{{ . }}</span>{{ end }}
                <h3>{{ .Title }}</h3>
            </div>
            <div class="product-card-body">
                <p>{{ .Summary }}</p>
            </div>
            <div class="product-card-footer">
                <a href="{{ .RelPermalink }}" class="btn btn-primary">Zum Produkt</a>
            </div>
        </div>
    </div>
    {{ end }}
</div>