<div class="row row-cols-2 row-cols-xl-3">
    {{ range where site.RegularPages "Section" "products" }}
    <div class="col">
        <div class="card">
            <div class="card-header h5">{{ .Title }}</div>
            <div class="card-body">
                <div class="card-text">{{ .Summary }}</div>
                <div class="text-end">
                    <a href="{{ .RelPermalink }}" class="btn btn-primary">Zum Produkt</a>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>