name: Hugo Page build

on:
  push:
    branches:
      - main

jobs:
  hugo-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.110.0'
          extended: true

      - name: Run Hugo build
        run: hugo --minify

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: hugo-page
          path: ./public/*
